<nav>
	<ul>
		<li><a href="http://localhost:8081/">Accueil</a></li>
		<li><a href="http://localhost:8081/membres">Adresses</a></li>
		<li><a href="http://localhost:8081/peuplement">Peuplement</a></li>
		<li><a href="http://localhost:8081/vider">Vider</a></li>
	</ul>
</nav>